/*--------------------------------------------------------------
9. About Section
----------------------------------------------------------------*/

.about-img {
  min-height: 550px;
}

.about-img-wrap {
  padding-right: 30px;
}

.text-block.style1 {
  .text-block-title {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 18px;
  }

  .text-block-subtitle {
    font-size: 24px;
    font-weight: 300;
    color: $base-color1;
    margin-bottom: 18px;
  }

  .text-block-text {
    p {
      margin-bottom: 18px;
    }
  }

  .text-block-btn {
    margin-top: 43px;
  }
}

.text-block-details li {
  margin-bottom: 14px;

  :lachild {
    margin-bottom: 0;
  }

  span:firchild {
    display: inline-block;
    width: 108px;
    margin-right: -5px;
  }

  span:lachild {
    margin-left: 7px;
  }
}

@media screen and (max-width: 991px) {
  .about-img-wrap {
    padding-right: 0px;
  }
}
