/*--------------------------------------------------------------
17. Blog
----------------------------------------------------------------*/

.posingle.style1 {
  .pothumb {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .podate {
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 9px;

    .podate-divider {
      margin-left: 4px;
      margin-right: 4px;
    }

    .poauthor,
    .popublish-date {
      color: $base-color1;
    }

    .poauthor:hover {
      opacity: 0.8;
    }
  }

  .potitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 0;

    &:hover {
      color: $base-color1;
    }
  }
}
