/*--------------------------------------------------------------
18. Skill
----------------------------------------------------------------*/
.skill-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.progressbar-wrap {
  overflow: hidden;
}

.progressbar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
  font-family: "Roboto", sans-serif;
}

.single-progressbar {
  margin-top: -5px;
}

.progressbar-title {
  font-size: 16px;
  margin-bottom: 0;
}

.progressbar-percentage {
  color: $base-color1;
  font-weight: 400;
}

.progressbar {
  width: 100%;
  height: 2px;
  background-color: $dark-color5;
}

.progressbar-in {
  background-color: $base-color1;
  height: 2px;
}

@media screen and (max-width: 991px) {
  .skill-title {
    font-size: 28px;
  }
}
