/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. Spacing
3. General
4. Preloader
5. Header
6. Button
7. Slider
8. Section Heading
9. Icon box
10. Text Block
11. Text Block
12. Video Block
13. Image Box
14. Funfact
15. Isotope
16. Image Gallery
17. Skill
18. Post
19. Testimonial
20. Contact Form
21. Blog Details
22. Comments
23. Footer

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
body,
html {
  color: #a9adb8;
  background-color: #0a101e;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h3,
h6 {
  clear: both;
  color: #fdfeff;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
  list-style: square outside none;
}

ol {
  padding-left: 15px;
  margin-bottom: 15px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 991px) {
  body,
  html {
    font-size: 14px;
  }
}
/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .height-b0 {
    height: 0px;
  }
  .height-b5 {
    height: 5px;
  }
  .height-b10 {
    height: 10px;
  }
  .height-b15 {
    height: 15px;
  }
  .height-b20 {
    height: 20px;
  }
  .height-b25 {
    height: 25px;
  }
  .height-b30 {
    height: 30px;
  }
  .height-b35 {
    height: 35px;
  }
  .height-b40 {
    height: 40px;
  }
  .height-b45 {
    height: 45px;
  }
  .height-b50 {
    height: 50px;
  }
  .height-b55 {
    height: 55px;
  }
  .height-b60 {
    height: 60px;
  }
  .height-b65 {
    height: 65px;
  }
  .height-b70 {
    height: 70px;
  }
  .height-b75 {
    height: 75px;
  }
  .height-b80 {
    height: 80px;
  }
  .height-b85 {
    height: 85px;
  }
  .height-b90 {
    height: 90px;
  }
  .height-b95 {
    height: 95px;
  }
  .height-b100 {
    height: 100px;
  }
  .height-b105 {
    height: 105px;
  }
  .height-b110 {
    height: 110px;
  }
  .height-b115 {
    height: 115px;
  }
  .height-b120 {
    height: 120px;
  }
  .height-b125 {
    height: 125px;
  }
  .height-b130 {
    height: 130px;
  }
  .height-b135 {
    height: 135px;
  }
  .height-b140 {
    height: 140px;
  }
  .height-b145 {
    height: 145px;
  }
  .height-b150 {
    height: 150px;
  }
  .height-b155 {
    height: 155px;
  }
  .height-b160 {
    height: 160px;
  }
  .height-b165 {
    height: 165px;
  }
  .height-b170 {
    height: 170px;
  }
  .height-b175 {
    height: 175px;
  }
  .height-b180 {
    height: 180px;
  }
  .height-b185 {
    height: 185px;
  }
  .height-b190 {
    height: 190px;
  }
  .height-b195 {
    height: 195px;
  }
  .height-b200 {
    height: 200px;
  }
  .height-b205 {
    height: 205px;
  }
  .height-b210 {
    height: 210px;
  }
}
@media screen and (max-width: 991px) {
  .height-lg-b0 {
    height: 0px;
  }
  .height-lg-b5 {
    height: 5px;
  }
  .height-lg-b10 {
    height: 10px;
  }
  .height-lg-b15 {
    height: 15px;
  }
  .height-lg-b20 {
    height: 20px;
  }
  .height-lg-b25 {
    height: 25px;
  }
  .height-lg-b30 {
    height: 30px;
  }
  .height-lg-b35 {
    height: 35px;
  }
  .height-lg-b40 {
    height: 40px;
  }
  .height-lg-b45 {
    height: 45px;
  }
  .height-lg-b50 {
    height: 50px;
  }
  .height-lg-b55 {
    height: 55px;
  }
  .height-lg-b60 {
    height: 60px;
  }
  .height-lg-b65 {
    height: 65px;
  }
  .height-lg-b70 {
    height: 70px;
  }
  .height-lg-b75 {
    height: 75px;
  }
  .height-lg-b80 {
    height: 80px;
  }
  .height-lg-b85 {
    height: 85px;
  }
  .height-lg-b90 {
    height: 90px;
  }
  .height-lg-b95 {
    height: 95px;
  }
  .height-lg-b100 {
    height: 100px;
  }
  .height-lg-b105 {
    height: 105px;
  }
  .height-lg-b110 {
    height: 110px;
  }
  .height-lg-b115 {
    height: 115px;
  }
  .height-lg-b120 {
    height: 120px;
  }
  .height-lg-b125 {
    height: 125px;
  }
  .height-lg-b130 {
    height: 130px;
  }
  .height-lg-b135 {
    height: 135px;
  }
  .height-lg-b140 {
    height: 140px;
  }
  .height-lg-b145 {
    height: 145px;
  }
  .height-lg-b150 {
    height: 150px;
  }
  .height-lg-b155 {
    height: 155px;
  }
  .height-lg-b160 {
    height: 160px;
  }
  .height-lg-b165 {
    height: 165px;
  }
  .height-lg-b170 {
    height: 170px;
  }
  .height-lg-b175 {
    height: 175px;
  }
  .height-lg-b180 {
    height: 180px;
  }
  .height-lg-b185 {
    height: 185px;
  }
  .height-lg-b190 {
    height: 190px;
  }
  .height-lg-b195 {
    height: 195px;
  }
  .height-lg-b200 {
    height: 200px;
  }
  .height-lg-b205 {
    height: 205px;
  }
  .height-lg-b210 {
    height: 210px;
  }
}
/*--------------------------------------------------------------
3. General
----------------------------------------------------------------*/
.mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom {
  position: relative;
  overflow: hidden;
}
.zoom .zoom-in {
  transition: all 0.4s ease-in-out;
}
.zoom:hover .zoom-in {
  transform: scale(1.07);
}

.vertical-middle {
  display: flex;
  align-items: center;
  height: 100%;
}
.vertical-middle .vertical-middle-in {
  width: 100%;
}

.bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.content {
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

.sticky-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.dark-bg {
  background-color: #070d1b;
}

.gray-bg {
  background-color: #b8b8b8;
}

.gray-overlay {
  position: relative;
}
.gray-overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(184, 184, 184, 0.86);
}
.gray-overlay .container {
  position: relative;
  z-index: 1;
}

hr {
  margin: 0;
  width: 100%;
  border-color: #000000;
}

.fixed-bg {
  background-attachment: fixed;
}

@media screen and (max-width: 991px) {
  .content {
    margin: 0 !important;
  }
  .vertical-middle {
    display: block;
  }
}
/*--------------------------------------------------------------
5. Header
----------------------------------------------------------------*/
.site-header.style1 {
  background-color: rgba(7, 13, 27, 0.9);
  box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.1);
  transition: all 0.4s ease;
}
.site-header.style1 .main-header-in {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
}
.site-header.style1.transparent-header {
  background-color: transparent;
  box-shadow: none;
}
.site-header.style1.sticky-active {
  background-color: #070d1b;
  box-shadow: 0 10px 10px -10px rgba(7, 13, 27, 0.1);
}

@media screen and (max-width: 991px) {
  .main-header .container {
    max-width: 100%;
  }
  .site-header.style1 {
    background-color: #070d1b;
  }
}
.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-header {
  position: relative;
}

@media screen and (min-width: 992px) {
  .nav {
    display: flex;
  }
  .nav .nav-list {
    display: flex !important;
    flex-wrap: wrap;
  }
  .nav .nav-list > li {
    margin-right: 40px;
  }
  .nav .nav-list > li:lachild {
    margin-right: 45px;
  }
  .nav .nav-list > li > a {
    padding: 15px 0;
    font-size: 15px;
    display: inline-block;
    color: #fdfeff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .nav .nav-list > li > a.active {
    color: #4E9FE5;
  }
  .nav .sp-phone {
    display: flex;
    align-items: center;
    padding-left: 45px;
    position: relative;
  }
  .nav .sp-phone::before {
    content: "";
    position: absolute;
    height: 11px;
    width: 1px;
    background: white;
    left: 0px;
  }
  .nav .sp-phone svg {
    fill: #ffffff;
    width: 15px;
  }
  .nav .sp-phone .sp-phone-no {
    padding-left: 15px;
    color: #4E9FE5;
  }
  .munu-toggle,
  .munu-dropdown-toggle {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .munu-dropdown-toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 5px;
  }
  .munu-dropdown-toggle:before, .munu-dropdown-toggle:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 10px;
    background-color: #fdfeff;
    transition: all 0.3s ease;
  }
  .munu-dropdown-toggle:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .munu-dropdown-toggle.active:before {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .nav .nav-list {
    position: absolute;
    width: 100vw;
    left: 0;
    background-color: #070d1b;
    padding: 10px 0;
    display: none;
    top: 100%;
    border-top: 1px solid #101624;
    border-bottom: 1px solid #101624;
    overflow: auto;
    max-height: calc(100vh - 80px);
  }
  .nav .nav-list ul {
    padding-left: 15px;
    display: none;
  }
  .nav .nav-list a {
    display: block;
    padding: 8px 20px;
  }
  .nav .menu-item-has-children {
    position: relative;
  }
  .nav .sp-phone {
    display: none;
  }
  /*Mobile Menu Button*/
  .munu-toggle {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 27px;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
  }
  .munu-toggle span,
  .munu-toggle span:before,
  .munu-toggle span:after {
    width: 100%;
    height: 2px;
    background-color: #666;
    display: block;
  }
  .munu-toggle span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;
  }
  .munu-toggle span:before {
    content: "";
    position: absolute;
    margin-top: -8px;
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .munu-toggle span:after {
    content: "";
    position: absolute;
    margin-top: 8px;
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .toggle-active span {
    background-color: rgba(0, 0, 0, 0);
    transition-delay: 0.2s;
  }
  .toggle-active span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
  }
  .toggle-active span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
  }
}
.sticky-header {
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}

.site-header.style2 .header-author {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  margin: auto;
}
.site-header.style2 .header-author img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 991px) {
  .site-header.style2 {
    width: 300px;
    background: #070d1b;
    height: 100vh;
    border-right: 1px solid #101624;
    overflow: hidden;
  }
  .site-header.style2 .nav {
    flex-direction: column;
  }
  .site-header.style2 .nav .nav-list {
    flex-direction: column;
  }
  .site-header.style2 .nav .nav-list > li {
    margin-right: 0;
  }
  .site-header.style2 .nav .nav-list > li > a {
    padding: 5px 0;
  }
  .site-header.style2 .main-header {
    position: relative;
    padding: 40px 25px 80px;
  }
  .site-header.style2 .main-header:after {
    content: "";
    position: fixed;
    height: 80px;
    width: 299px;
    left: 0;
    bottom: 0;
    background-color: #070d1b;
  }
  .site-header.style2 .social-btn.style1 {
    position: fixed;
    bottom: 40px;
    left: 40px;
  }
  .site-header.style2 .social-btn.style1 li {
    color: #0a101e;
    margin-right: 20px;
    font-size: 18px;
  }
  .site-header.style2 .social-btn.style1 li:lachild {
    margin-right: 0;
  }
  .site-header.style2 .social-btn.style1 li a:hover {
    color: #070d1b;
  }
  .site-header.style2 .main-header-left {
    margin-bottom: 24px;
  }
  .site-header.style2 .btn.style1 {
    margin-top: 20px;
    font-size: 14px;
    padding: 0.6em 1.3em;
  }
  .site-header.style2 .main-header-left {
    margin-left: -40px;
    margin-right: -40px;
    border-bottom: 1px solid #101624;
    padding-bottom: 40px;
  }
  .get-sidebar {
    padding-left: 300px;
  }
  .get-sidebar .sticky-footer {
    left: 300px;
    max-width: calc(100% - 300px);
  }
}
@media screen and (max-width: 991px) {
  .site-header .btn,
  .site-header.style2 .opening-hr,
  .site-header.style2 .social-btn.style1 {
    display: none !important;
  }
  .site-header.style2 {
    background-color: #070d1b;
    border-bottom: 1px solid #101624;
  }
  .site-header.style2 .nav {
    display: flex;
  }
  .site-header.style2 .main-header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  .site-header.style2 .header-author {
    height: 50px;
    width: 50px;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }
}
/*--------------------------------------------------------------
8. Slider
-
---------------------------------------------------------------*/
.hero-wrap {
  position: relative;
  height: 850px;
  background-color: #070d1b;
}
.hero-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero-wrap .hero-img {
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
  width: 45%;
  z-index: 11;
}

.social-list-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero.style1 {
  height: 710px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  z-index: 11;
}
.hero.style1 .hero-text h1 {
  font-size: 120px;
  margin-bottom: 24px;
  font-weight: 900;
  color: #fdfeff;
  line-height: 1;
}
.hero.style1 .hero-text h2 {
  font-size: 36px;
  margin-bottom: 41px;
  font-weight: 300;
  color: #a9adb8;
}
.hero.style1 .hero-text h3 {
  font-size: 30px;
  margin-top: -6px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #4E9FE5;
}

.social-group {
  background-color: #101624;
  border: 1px solid #232935;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  height: 80px;
  width: 448px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  padding-left: 12px;
  right: 100%;
}

.hero.style2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #070d1b;
}
.hero.style2 .container {
  position: relative;
  z-index: 11;
}
.hero.style2 h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero.style2 h1 span {
  color: #4e9fe5;
}
.hero.style2 p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  margin-bottom: 22px;
}
.hero.style2 .author {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.1);
  margin: auto;
  margin-bottom: 25px;
}
.hero.style2 .author img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hero.style2 .hero-shape {
  width: 100%;
  fill: #0a101e;
  position: absolute;
  bottom: 0;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  top: 0;
  left: 0;
}

.hero-social-links {
  display: flex;
  justify-content: center;
}
.hero-social-links .social-btn {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 0 10px;
}
.hero-social-links .social-btn:hover {
  border-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.9);
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  opacity: 0.1;
}

/* KEYFRAMES */
@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
/* ANIMATIONS */
.x1 {
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  transform: scale(0.6);
}

.x2 {
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  transform: scale(0.4);
}

.x3 {
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  transform: scale(0.7);
}

.x4 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  transform: scale(0.3);
}

.x5 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  transform: scale(0.5);
}

.x6 {
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  transform: scale(0.8);
}

.x7 {
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  transform: scale(0.4);
}

.x8 {
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  transform: scale(0.3);
}

.x9 {
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  transform: scale(0.6);
}

.x10 {
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  transform: scale(0.3);
}

/* OBJECTS */
.bubble {
  border-radius: 50%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgb(255, 255, 255);
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff", endColorstr="#00ffffff", GradientType=1);
  border-radius: 50%;
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}

.to-right {
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .hero-wrap {
    height: initial;
  }
  .hero-wrap .hero-img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero.style2 h1 {
    font-size: 40px;
  }
  .hero.style2 p {
    font-size: 16px;
  }
  .hero.style2 p br {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .hero.style1 {
    height: 580px;
  }
  .hero.style1 .hero-text h1 {
    font-size: 90px;
  }
}
/*--------------------------------------------------------------
6. Button
----------------------------------------------------------------*/
.btn.style1,
.btn.style2 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  font-weight: 500;
  padding: 12px 1.5em;
  border-radius: 50px;
  min-width: 170px;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
}

.btn.style2 {
  border: 1px solid;
  padding: 0.69em 3.2em;
}

.btn.style1:hover,
.btn.style2:hover {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px 0px #4E9FE5;
}

.btn.style1.color1 {
  background-color: #4E9FE5;
  color: #070d1b;
}

.btn.style1.color2 {
  background: #000;
  color: #fff;
}

.btn.style1.color3 {
  background: #fff;
  color: #222;
}

.btn.style1.color4 {
  background-color: pink;
  color: #fff;
}

.btn.style1.color5 {
  background: linear-gradient(45deg, rgb(20, 70, 234) 0%, rgb(3, 220, 236) 88%, rgb(3, 220, 236) 100%);
  color: #fff;
}

.btn.style2.color1 {
  background-color: transparent;
  border-color: #4E9FE5;
  color: #4E9FE5;
}

.btn.style2.color1:hover {
  background-color: #4E9FE5;
  color: #070d1b;
}

.btn.size-medium {
  padding: 0.6em 1.8em;
}

.btn.style2.color2 {
  border-color: #fff;
  color: #fff;
}
.btn.style2.color2:hover {
  background-color: #fff;
  color: #222;
}

.hero-btn-group .btn:not(:lachild) {
  margin-right: 12px;
}

@media screen and (max-width: 991px) {
  .btn.style1,
  .btn.style2 {
    font-size: 14px;
    padding: 0.72em 1.8em;
  }
}
/*--------------------------------------------------------------
9. Section Heading
----------------------------------------------------------------*/
.section-heading.style1 {
  text-align: center;
  position: relative;
  margin-top: -5px;
  margin-bottom: 41px;
}
.section-heading.style1 .section-heading-title {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #4E9FE5;
  position: relative;
  z-index: 10;
  letter-spacing: 1px;
}
.section-heading.style1 .section-heading-title::before {
  content: "";
  position: absolute;
  background-color: #3f4551;
  width: 170px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading.style1 .section-heading-title::after {
  content: "";
  position: absolute;
  background-color: #4E9FE5;
  width: 70px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading.style1 .section-heading-subtitle {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90px;
  font-weight: 700;
  color: rgba(21, 27, 41, 0.5);
  margin: 0;
  margin-top: -17px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .section-heading.style1 .section-heading-subtitle {
    display: none;
  }
}
/* End Section Heading */
/*--------------------------------------------------------------
9. About Section
----------------------------------------------------------------*/
.about-img {
  min-height: 550px;
  border-radius: 20px;
}

.about-img-wrap {
  padding-right: 30px;
}

.text-block.style1 .text-block-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 18px;
}
.text-block.style1 .text-block-subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #4E9FE5;
  margin-bottom: 18px;
}
.text-block.style1 .text-block-text p {
  margin-bottom: 18px;
}
.text-block.style1 .text-block-btn {
  margin-top: 43px;
}

.text-block-details li {
  margin-bottom: 14px;
}
.text-block-details li :lachild {
  margin-bottom: 0;
}
.text-block-details li span:firchild {
  display: inline-block;
  width: 108px;
  margin-right: -5px;
}
.text-block-details li span:lachild {
  margin-left: 7px;
}

@media screen and (max-width: 991px) {
  .about-img-wrap {
    padding-right: 0px;
  }
}
/*--------------------------------------------------------------
10. Icon box
----------------------------------------------------------------*/
.iconbox.style1 {
  text-align: center;
  padding: 50px 30px;
  border-radius: 3px;
  transition: all 0.4s ease;
  border: 1px solid #232935;
  background-color: #101624;
}
.iconbox.style1:hover .iconbox-icon {
  border: 0.5px solid #4E9FE5;
}
.iconbox.style1:hover .iconbox-icon svg {
  fill: #4E9FE5;
}
.iconbox.style1:hover .iconbox-title {
  color: #4E9FE5;
}
.iconbox.style1 .iconbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  border: 0.5px solid #3f4551;
  border-radius: 50%;
  background-color: #070d1b;
  margin: auto;
  font-size: 50px;
  margin-bottom: 28px;
  transition: all 0.4s ease;
}
.iconbox.style1 .iconbox-icon svg {
  width: 52px;
  fill: #3f4551;
  transition: all 0.4s ease;
}
.iconbox.style1 .iconbox-title {
  font-weight: 400;
  line-height: 1.2em;
  font-size: 20px;
  margin-bottom: 16px;
  transition: all 0.4s ease;
}
.iconbox.style1 .iconbox-text {
  margin-bottom: -6px;
}

/*--------------------------------------------------------------
18. Skill
----------------------------------------------------------------*/
.skill-title {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 25px;
}

.progressbar-wrap {
  overflow: hidden;
}

.progressbar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2px;
  font-family: "Roboto", sans-serif;
}

.single-progressbar {
  margin-top: -5px;
}

.progressbar-title {
  font-size: 16px;
  margin-bottom: 0;
}

.progressbar-percentage {
  color: #4E9FE5;
  font-weight: 400;
}

.progressbar {
  width: 100%;
  height: 2px;
  background-color: #3f4551;
}

.progressbar-in {
  background-color: #4E9FE5;
  height: 2px;
}

@media screen and (max-width: 991px) {
  .skill-title {
    font-size: 28px;
  }
}
/*--------------------------------------------------------------
18. Resume Section
----------------------------------------------------------------*/
.resume-heading {
  display: flex;
  align-items: center;
}

.resume-heading .resume-heading-title {
  margin: 0;
  margin-left: 30px;
  font-size: 36px;
  font-weight: 400;
}

.resume-timeline {
  position: relative;
  padding-top: 1px;
}
.resume-timeline::before {
  position: absolute;
  content: "";
  border: 2px solid #232935;
  border-radius: 50%;
  background-color: #101624;
  width: 13px;
  height: 13px;
  top: 0px;
  left: -47px;
  transition: all 0.4s ease;
}
.resume-timeline:hover::before {
  background-color: #4E9FE5;
}
.resume-timeline .resume-timeline-title {
  font-size: 24px;
  font-weight: 400;
  color: #4E9FE5;
  margin-top: -7px;
  margin-bottom: 8px;
}
.resume-timeline .resume-timeline-duration {
  font-size: 18px;
  margin-bottom: 21px;
}
.resume-timeline .resume-timeline-subtitle {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 19px;
}
.resume-timeline .resume-timeline-text p {
  margin: 0;
  margin-bottom: -7px;
}

.resume-timeline-wrap {
  padding-left: 40px;
  margin-left: 20px;
  border-left: 1px solid #232935;
}

/*--------------------------------------------------------------
1. Portfolio
----------------------------------------------------------------*/
.portfolio {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.portfolio::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #3f4551;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1;
}
.portfolio::after {
  content: "";
  position: absolute;
  border: 1px solid #fdfeff;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.portfolio:hover::before {
  opacity: 0.85;
}
.portfolio:hover::after {
  opacity: 0.85;
}
.portfolio:hover .portfolio-item-hover {
  opacity: 1;
  visibility: visible;
}
.portfolio .portfolio-img img {
  width: 100%;
}

.portfolio-item-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
  z-index: 5;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.portfolio-item-hover i {
  border: 0.5px solid #3f4551;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4E9FE5;
  color: #151b29;
  font-size: 26px;
  opacity: 0.8;
}
.portfolio-item-hover h5 {
  position: absolute;
  width: 250px;
  top: 87px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 20px;
  color: #fdfeff;
}
.portfolio-item-hover p {
  position: absolute;
  width: 250px;
  top: 114px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.portfolio-btn {
  margin-top: 20px;
}

/*--------------------------------------------------------------
7. Slider
----------------------------------------------------------------*/
.slider.style1,
.slider.style2 {
  position: relative;
}

.swipe-arrow.hidden,
.pagination.hidden {
  display: none;
}

.pagination.style1 ul,
.pagination.style2 ul {
  padding: 0;
  margin: 0;
  display: flex !important;
  list-style: none;
}
.pagination.style1 li,
.pagination.style2 li {
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: #000000;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.pagination.style1 li.slick-active,
.pagination.style2 li.slick-active {
  background-color: #3f4551;
}
.pagination.style1 button,
.pagination.style2 button {
  display: none;
}

.pagination.style2 {
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
}

.pagination.style1.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  padding-left: 15px;
}

.slider.style1,
.slider.style2 {
  position: relative;
}
.slider.style1 .slick-slide,
.slider.style2 .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}
.slider.style1 .slick-slide > div,
.slider.style2 .slick-slide > div {
  display: flex;
}
.slider.style1 .slick-slide > div > .slick-slide-in,
.slider.style2 .slick-slide > div > .slick-slide-in {
  width: 100%;
}
.slider.style1 .slick-list,
.slider.style2 .slick-list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: -15px;
  margin-right: -15px;
}
.slider.style1 .slick-arrow,
.slider.style2 .slick-arrow {
  box-shadow: 0px 5px 10px 0px #4E9FE5;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #3f4551;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}
.slider.style1 .slick-arrow:before,
.slider.style2 .slick-arrow:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 30px;
}
.slider.style1 .slick-arrow.slick-arrow-left,
.slider.style2 .slick-arrow.slick-arrow-left {
  left: 0px;
}
.slider.style1 .slick-arrow.slick-arrow-left:before,
.slider.style2 .slick-arrow.slick-arrow-left:before {
  right: -20px;
}
.slider.style1 .slick-arrow.slick-arrow-right,
.slider.style2 .slick-arrow.slick-arrow-right {
  right: 0px;
}
.slider.style1 .slick-arrow.slick-arrow-right:before,
.slider.style2 .slick-arrow.slick-arrow-right:before {
  left: -20px;
}
.slider.style1 .slick-arrow:hover,
.slider.style2 .slick-arrow:hover {
  color: #000000;
}
.slider.style1:hover .slick-arrow,
.slider.style2:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}
.slider.style1:hover .slick-arrow.slick-arrow-left,
.slider.style2:hover .slick-arrow.slick-arrow-left {
  left: -70px;
}
.slider.style1:hover .slick-arrow.slick-arrow-right,
.slider.style2:hover .slick-arrow.slick-arrow-right {
  right: -70px;
}

@media screen and (max-width: 991px) {
  .slider .pagination.hidden {
    display: block;
    margin-top: 20px;
  }
  .slider .pagination.style1 ul,
  .slider .pagination.style2 ul {
    justify-content: center;
  }
  .swipe-arrow.style1 {
    display: none;
  }
  .hidden.hidden-md,
  .swipe-arrow.style2 {
    display: none !important;
  }
}
/*--------------------------------------------------------------
24. Testimonial
----------------------------------------------------------------*/
.testimonial.style1:hover .testimonial-name {
  color: #4E9FE5;
}
.testimonial.style1:hover .testimonial-text {
  border-color: #4E9FE5;
}
.testimonial.style1:hover .testimonial-text::after {
  border-color: #4E9FE5;
}
.testimonial.style1 .testimonial-text {
  position: relative;
  border-radius: 3px;
  transition: all 0.4s ease;
  background-color: #101624;
  padding: 30px 15px;
  border: 1px solid #232935;
  margin-bottom: 40px;
}
.testimonial.style1 .testimonial-text::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -16px;
  border: 1px solid #232935;
  border-width: 0 1px 1px 0;
  background: #101624;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s ease;
}
.testimonial.style1 .testimonial-text p {
  text-align: center;
  margin-top: -6px;
  margin-bottom: -6px;
  position: relative;
  z-index: 1;
}
.testimonial.style1 .testimonial-text .quote {
  position: absolute;
  top: 1px;
  left: 1px;
}
.testimonial.style1 .testimonial-info {
  align-items: center;
  text-align: center;
  margin-bottom: -4px;
}
.testimonial.style1 .testimonial-img {
  flex: none;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.testimonial.style1 .testimonial-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.testimonial.style1 .testimonial-name {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
  transition: all 0.4s ease;
}
.testimonial.style1 .testimonial-designation {
  line-height: 1.3em;
}

/*--------------------------------------------------------------
17. Blog
----------------------------------------------------------------*/
.posingle.style1 .pothumb {
  display: block;
  overflow: hidden;
}
.posingle.style1 .pothumb img {
  width: 100%;
}
.posingle.style1 .podate {
  font-size: 14px;
  margin-top: 22px;
  margin-bottom: 9px;
}
.posingle.style1 .podate .podate-divider {
  margin-left: 4px;
  margin-right: 4px;
}
.posingle.style1 .podate .poauthor,
.posingle.style1 .podate .popublish-date {
  color: #4E9FE5;
}
.posingle.style1 .podate .poauthor:hover {
  opacity: 0.8;
}
.posingle.style1 .potitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 0;
}
.posingle.style1 .potitle:hover {
  color: #4E9FE5;
}

/*--------------------------------------------------------------
27. Blog Details
----------------------------------------------------------------*/
.page-heading {
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 120px;
  background-size: cover;
  background-attachment: fixed;
}
.page-heading.size-md {
  height: 450px;
}
.page-heading:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.page-heading > div {
  position: relative;
  z-index: 1;
}

.page-heading-title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 7px;
}

.breadcamp {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.breadcamp li {
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
}
.breadcamp li:not(:lachild):after {
  content: "/";
  padding-right: 6px;
  margin-left: 6px;
}
.breadcamp a:hover {
  color: #fff;
}

.page-heading.style1 {
  padding-top: 0;
  height: 320px;
}

.widget {
  border: 1px solid #232935;
  border-radius: 7px;
  padding: 30px;
}
.widget .widget-title {
  font-size: 16px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 17px;
  margin-top: -3px;
  overflow: hidden;
}
.widget .widget-title span {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}
.widget .widget-title span:before {
  content: "";
  background-color: #232935;
  position: absolute;
  left: 100%;
  bottom: 50%;
  height: 1px;
  width: 1000px;
}

.widget-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -16px;
  margin-bottom: -16px;
  font-size: 14px;
}
.widget-list li:not(:lachild) {
  border-bottom: 1px solid #232935;
}
.widget-list a {
  display: block;
  padding: 10px 0;
}
.widget-list a:hover {
  color: #4e9fe5;
}

.tagcloud {
  margin-bottom: -10px;
}
.tagcloud .tag {
  display: inline-block;
  font-size: 13px;
  padding: 2px 10px;
  border: 1px solid #232935;
  border-radius: 7px;
  margin-right: 6px;
  margin-bottom: 10px;
}
.tagcloud .tag:hover {
  color: #fff;
  background-color: #4e9fe5;
  border-color: #4e9fe5;
}

.sidebar-social-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -4px;
  margin-bottom: -5px;
}
.sidebar-social-btn a:not(:lachild) {
  margin-right: 15px;
}

.podetails.style1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8em;
}
.podetails.style1 .slick-slide {
  line-height: 0;
}
.podetails.style1 .pothumb {
  margin-bottom: 25px;
}
.podetails.style1 .pothumb img {
  width: 100%;
}
.podetails.style1 .potitle {
  font-size: 28px;
  margin-bottom: 9px;
}
.podetails.style1 blockquote {
  background-color: rgba(255, 255, 255, 0.02);
  margin: 0;
  padding: 30px 40px 27px;
  font-size: 24px;
  line-height: 1.6em;
  border-left: 5px solid #4e9fe5;
  color: #4E9FE5;
  border-radius: 7px;
  font-weight: 400;
  margin: 20px 0;
}
.podetails.style1 blockquote small {
  display: block;
  line-height: inherit;
  margin-top: 4px;
  color: #a9adb8;
  font-size: inherit;
  font-size: 16px;
}
.podetails.style1 blockquote small span {
  color: #4e9fe5;
}
.podetails.style1 .polabel {
  margin-bottom: 15px;
}
.podetails.style1 .potext p {
  margin-bottom: 15px;
}
.podetails.style1 .pometa {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  line-height: 1.6em;
  font-size: 15px;
  border-top: 1px solid #232935;
  border-bottom: 1px solid #232935;
}
.podetails.style1 h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.podetails.style1 p {
  margin-bottom: 15px;
}
.podetails.style1 img {
  margin-bottom: 20px;
  border-radius: 7px;
  margin-top: 5px;
}
.podetails.style1 .embed-responsive {
  margin-top: 15px;
  margin-bottom: 15px;
}

.polabel > span {
  display: inline-block;
  position: relative;
}
.polabel > span:not(:lachild) {
  padding-right: 15px;
  margin-right: 15px;
}
.polabel > span:not(:lachild):before {
  content: "";
  position: absolute;
  height: 16px;
  width: 1px;
  background-color: #232935;
  right: 0;
  top: 3px;
}
.polabel a:hover {
  color: #4e9fe5;
}

.potage-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-weight: 400;
}
.potage-list li {
  margin-right: 5px;
}
.potage-list li:not(:lachild):after {
  content: ",";
}
.potage-list li a:hover {
  color: #4e9fe5;
}

.potages,
.poshare {
  display: flex;
}
.potages .potage-title,
.potages .poshare-title,
.poshare .potage-title,
.poshare .poshare-title {
  margin: 0;
  font-size: 16px;
  margin-right: 10px;
  line-height: 1.6em;
  font-weight: 500;
}

.poshare-btn-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
}
.poshare-btn-list a:not(:lachild) {
  margin-right: 12px;
}
.poshare-btn-list a:hover {
  color: #4e9fe5;
}

.pobtn-gropu {
  display: flex;
  justify-content: space-between;
}
.pobtn-gropu .btn {
  min-width: 170px;
  justify-content: center;
}

.page-heading-in .polabel {
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.page-heading-in .polabel > span:not(:lachild):before {
  background-color: rgba(255, 255, 255, 0.15);
}
.page-heading-in .polabel > span:not(:lachild) {
  color: rgba(255, 255, 255, 0.75);
}
.page-heading-in .polabel a:hover {
  color: #fff;
}

.page-heading-subtitle {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 300;
  margin-top: 7px;
}

@media screen and (max-width: 991px) {
  .page-heading-title {
    font-size: 38px;
  }
  .page-heading-subtitle {
    font-size: 16px;
  }
  .page-heading.size-md {
    height: 350px;
    padding-top: 80px;
  }
  .page-heading-title br {
    display: none;
  }
  .page-heading {
    height: 500px;
    padding-top: 80px;
  }
  .podetails.style1 {
    font-size: 16px;
  }
  .podetails.style1 blockquote {
    padding: 20px 20px 17px;
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .podetails.style1 .pometa {
    display: block;
  }
  .pobtn-gropu .btn {
    min-width: 140px;
    justify-content: center;
    padding: 0.6em 1.5em;
  }
}
/*--------------------------------------------------------------
28. Comments
----------------------------------------------------------------*/
.comments-title,
.comment-reply-title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 25px;
}

.comments-area {
  padding-top: 56px;
  border-top: 1px solid #232935;
}

.comment-body {
  position: relative;
  margin-left: 60px;
  margin-bottom: 25px;
  min-height: 50px;
}

.comments-area ol {
  list-style: none;
  padding-left: 0;
}

.comments-area .children .children {
  padding-left: 0px;
}

.comment-author .avatar {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  left: -60px;
  border-radius: 6px;
}

.comment-author {
  margin-bottom: -6px;
}

.comment-author .nm,
.comment-author .nm a {
  font-weight: 500;
  color: #4E9FE5;
  font-size: 14px;
  display: block;
}

.comment-author .nm {
  padding-top: 4px;
}

.comment-author .nm a:hover,
.comment-author .nm:hover,
.comment-metadata a:hover {
  color: #4e9fe5;
}

.comment-metadata a {
  color: #fdfeff;
  font-weight: 400;
  font-size: 13px;
}

.comment-content {
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.comment-content p {
  margin: 0;
  color: inherit;
  font-size: inherit;
}

.comment-reply-link {
  font-size: 14px;
  color: #4e9fe5;
  position: relative;
}

.comment-reply-link:hover,
.comment-reply-link:focus {
  color: #fff;
}

.comment-reply-link:before {
  content: "\f112";
  font-family: "FontAwesome";
  margin-right: 4px;
}

.children .comment-body {
  margin-left: 60px;
}

.children .comment-author .avatar {
  left: -60px;
}

.comment-respond {
  display: block;
  width: 100%;
  margin-top: 56px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #232935;
  padding-top: 57px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
}

.comment-form-author,
.comment-form-email {
  width: 50%;
}

.comment-form-email {
  padding-left: 10px;
}

.comment-form-comment {
  width: 100%;
}

.comment-form-author {
  padding-right: 10px;
}

.comment-form-url {
  padding-left: 0px;
  width: 100%;
}

.form-submit {
  margin-bottom: 0;
}

.comment-form p {
  margin: 0;
}

.comment-form textarea,
.comment-form input {
  border: 1px solid #232935;
  padding: 8px 15px;
  width: 100%;
  background-color: transparent;
  display: block;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  border-radius: 7px;
  color: #fff;
}
.comment-form textarea:focus,
.comment-form input:focus {
  outline: none;
  border-color: #4e9fe5;
}

.ponavigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ponavigation > div {
  display: inline-block;
}

.nav-previous a:before {
  content: "\f100";
  font-family: "FontAwesome";
  margin-right: 4px;
}

.nav-next a:after {
  content: "\f101";
  font-family: "FontAwesome";
  margin-left: 4px;
}

.nav-all-post {
  min-width: 120px;
  text-align: center;
  margin: 0 25px;
}

/*--------------------------------------------------------------
26. Contact Form
----------------------------------------------------------------*/
#alert {
  font-size: 15px;
  font-weight: 300;
}

.contact-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: -6px;
  margin-bottom: 22px;
}

.form-field {
  width: 100%;
  margin-bottom: 30px;
}

.form-field input,
.form-field textarea {
  display: block;
  width: 100%;
  color: #a9adb8;
  padding: 12px 20px;
  border: 1px solid #232935;
  background-color: #101624;
  height: 52px;
  border-radius: 7px;
  transition: all 0.4s ease;
}
.form-field input::placeholder,
.form-field textarea::placeholder {
  color: #3f4551;
}
.form-field input:focus,
.form-field textarea:focus {
  border-color: #4E9FE5;
  outline: 0;
}

.form-field textarea {
  height: 150px;
}

.contact-text {
  margin-top: -6px;
  margin-bottom: 23px;
}

.single-contact-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.single-contact-info:hover i {
  border-color: #4E9FE5;
}
.single-contact-info i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #3f4551;
  border-radius: 50%;
  background-color: #070d1b;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  transition: all 0.4s ease;
}

.single-info-details h4 {
  font-size: 20px;
  font-weight: 400;
  margin-top: -4px;
  margin-bottom: 6px;
}

.single-info-details a {
  display: block;
  margin-bottom: -2px;
}
.single-info-details a:hover {
  color: #4E9FE5;
}
.single-info-details a:lachild {
  margin-bottom: -6px;
}

.single-info-details span {
  display: block;
  margin-bottom: -2px;
}

.social-info .social-text {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  padding-top: 5px;
}

.social-link-container {
  background-color: #101624;
  border: 1px solid #232935;
  border-right: 0;
  border-radius: 50px;
  height: 80px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  gap: 1rem;
}

.social-link .social-btn {
  border-radius: 50px;
  background-color: #070d1b;
  border: 0.5px solid #3f4551;
  transition: all 0.4s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.social-link .social-btn:not(:lachild) {
  margin-right: 20px;
}
.social-link .social-btn .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  transition: all 0.4s ease;
}
.social-link .social-btn .social-icon i {
  font-size: 22px;
}
.social-link .social-btn .icon-name {
  font-weight: 600;
  color: #fdfeff;
  overflow: hidden;
  max-width: 0;
  transition: all 0.5s ease;
}
.social-link .social-btn:hover, .social-link .social-btn.active {
  padding-right: 15px;
}
.social-link .social-btn:hover .icon-name, .social-link .social-btn.active .icon-name {
  max-width: 140px;
}

.copyright-wrap {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */